/* ==================
    * IMPORTS *
===================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* ==================
    * VARIABLES *
===================== */
:root {

    /* ? Paleta de colores */
    --color-primario: #fdfdfd;

    /* ? Tipo de fuente */
    --fuente: 'Montserrat', sans-serif;
}

/* ==================
    * GENERAL *
===================== */    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('/images/fondo-2.svg');
    background-size: cover;
    font-family: var(--fuente);
}

/* ==================
    * HEADER *
===================== */


/* ? Logo */


/* ? Menu */


/* ==================
    * MAIN *
===================== */

/* ? Estilos a los textos */


/* ? Redes */


/* ==================
    * FOOTER *
===================== */
.footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer > p {
    font-size: 10px;
    font-weight: bold;
}
